{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
    <div class="form-check mt-2 mx-0 p-0">

        {{ form_errors(registrationForm.agreeTerms)}}
        {{ form_widget(registrationForm.agreeTerms) }}
        {{ form_label(registrationForm.agreeTerms)}}
    </div>

        <button type="submit" class="btn btn-dark mt-2">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
